<div class="trigger" (click)="op.toggle($event)">

  @switch (content()) {
    @case (CellContent.MALBOIS) {
      <img src="assets/ocre/malbois.png" class="malbois">
    }
    @case (CellContent.MALEPIK) {
      <img src="assets/ocre/malepik.png" class="malepik">
    }
    @case (CellContent.MALTRIO) {
      <img src="assets/ocre/maltrio.png" class="maltrio">
    }
    @case (CellContent.MALZERB) {
      <img src="assets/ocre/malzerb.png" class="malzerb">
    }
    @case (CellContent.UNKNOWN) {
      <div class="textual-content unknown"> ?</div>
    }
    @case (CellContent.CLEARED) {
      <div class="textual-content cleared"> ✓</div>
    }
  }
</div>


<p-popover #op>
  <div>
    <div>
      @if (content() === CellContent.NOTHING) {
        <p-button label="Inconnu" variant="text" severity="primary" (onClick)="setContent(CellContent.UNKNOWN); op.hide()"/>
      } @else {
        <p-button label="Rien" variant="text" severity="primary" (onClick)="setContent(CellContent.NOTHING); op.hide()"/>
        <p-button label="Nettoyé" variant="text" severity="primary" (onClick)="setContent(CellContent.CLEARED); op.hide()"/>
      }
    </div>
    <p-button label="Malbois" variant="text" severity="danger" (onClick)="setContent(CellContent.MALBOIS); op.hide()"/>
    <p-button label="Malépik" variant="text" severity="danger" (onClick)="setContent(CellContent.MALEPIK); op.hide()"/>
    <p-button label="Malzerb" variant="text" severity="danger" (onClick)="setContent(CellContent.MALZERB); op.hide()"/>
    <p-button label="Maltrio" variant="text" severity="danger" (onClick)="setContent(CellContent.MALTRIO); op.hide()"/>
  </div>
</p-popover>
